.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
@media(min-width:320px){
    .btn{
        margin-top: 140px;
    }
}
@media(min-width:768px){
    .btn{
        margin-top: 140px;
    }
}
@media(min-width:1024px){
    .btn{
        margin-top: 130px;
    }
}